= render 'partials/alerts', subject: clip

= form_with(model: clip, local: true) do |f|
  %div
    %strong
      = f.label :number
    = f.text_field :number, size: 20
  %div
    %strong
      = f.label :url
    = f.text_field :url, size: 100
  %center
    = f.submit
